# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PII_Full_GRASP_and_SOLID_5_Start.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
